<header>
    <div class="header-container">
        <nav class="navbar">
            <a href="{{ path('getLinkForm') }}" class="logo">
                PHP-ShortLink
            </a>

            <div class="nav-links">
                <a href="{{ path('getLinkForm') }}"
                    {% if app.request.pathinfo == path('getLinkForm') %}
                    class="active"
                    {% endif %}>
                    Создать
                </a>

                <a href="{{ path('getLinksList') }}"
                    {% if app.request.pathinfo == path('getLinksList') %}
                    class="active"
                    {% endif %}>
                    Существующие ссылки
                </a>

                <a href="{{ path('getDeletedLinksList') }}"
                    {% if app.request.pathinfo == path('getDeletedLinksList') %}
                    class="active"
                    {% endif %}>
                    Удаленные ссылки
                </a>
            </div>
        </nav>
    </div>
</header>
